.error-msgs {
  background-color: rgba(205, 156, 150, 0.5);
  height: 3rem;
  border-radius: 20px;
  margin-bottom: 10px;
  border:rgb(205, 152, 150);
  display: none;
  color: #000;
  padding: 0.5rem;
}
